{
  "root": true,
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:eslint-comments/recommended",
    "plugin:unicorn/recommended",
    "plugin:promise/recommended",
    "plugin:security/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:listeners/strict",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jasmine/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "project": "./tsconfig.json",
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "plugins": [
    "unicorn",
    "eslint-comments",
    "promise",
    "simple-import-sort",
    "clean-timer",
    "@typescript-eslint",
    "jasmine"
  ],
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "clean-timer/assign-timer-id": "error",
    "class-methods-use-this": "off",
    "unicorn/prefer-top-level-await": "off",
    "import/prefer-default-export": "off",
    "unicorn/no-array-for-each": "off",
    "@typescript-eslint/require-await": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "bazel-*"
  ],
  "overrides": [
    {
      "files": ["*.spec.ts"],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/dot-notation": "off",
        "@typescript-eslint/no-unsafe-member-access": "off"
      }
    }
  ]
}
