auto-install-peers=true
hoist=false
ignore-workspace-root-check=true
resolution-mode=time-based
strict-peer-dependencies=false
engine-strict=true
link-workspace-packages=false
registry=https://registry.npmjs.org/
save-exact=true
unsafe-perm=true
enable-pre-post-scripts=true
